.backCover {
    padding: 50px;
    background: aliceblue;
}

.pageTitle {
    text-align: center;
    font-size: 36px;
}

.book {
    border: 1px solid;
    text-align: left;
    padding: 0px;
    width: 45%;
    margin: 0 auto;
    background: darkslateblue;
    color: white;
    margin-bottom: 40px !important;
}

.rightbox {
    border-top: 1px solid aliceblue;
    padding: 20px;
    font-size: 15px;
    margin: 0px;
    /* border-radius: 5px; */
}

.coverImage {
    padding-bottom: 40px;
    font-size: 25px;
}

.inputbox {
    width: 45%;
    margin: 0 auto;
    margin-top: 30px;
}

.error {
    padding: 20px;
    color: red;
    /* text-transform: capitalize; */
    text-align: center;
    background: black;
    width: 45%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.coverimg {
    padding: 30px;
    text-align: center;
}

.borbom {
    /* border-bottom: 1px solid white; */
    padding-bottom: 30px;
}

.networkstatus {
    background: black;
    color: red;
    text-align: center;
    padding: 20px;
}

.link-book {
    width: 100%;
    padding: 20px;
    border-radius: 50px;
    background: white;
    border: 1px solid darkslategray;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .backCover {
        padding: 20px;
        background: aliceblue;
    }
    .inputbox {
        width: 80%;
        margin: 0 auto;
        margin-top: 30px;
    }
    .error {
        padding: 20px;
        color: red;
        /* text-transform: capitalize; */
        text-align: center;
        background: black;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .book {
        border: 1px solid;
        text-align: left;
        padding: 0px;
        width: 80%;
        margin: 0 auto;
        color: white;
    }
    .rightbox {
        border-top: 1px solid aliceblue;
        padding: 10px;
        font-size: 16px;
        margin: 0px;
        /* border-radius: 5px; */
    }
    .coverimg {
        padding: 30px;
    }
}