<div *ngIf="networkstatus" class="networkstatus">
    Error: Please Check Your Internet Connection.
</div>
<div class="backCover">
    <div class="pageTitle">ISBN BOOK FINDER</div>

    <div class="input-group mb-3 inputbox">
        <input type="text" class="form-control " placeholder="Enter ISBN" aria-label="Recipient's username" aria-describedby="button-addon2" value="" #code />
        <div class="input-group-append ">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="number(code)">
        FIND
      </button>
        </div>
    </div>
    <div class="error" *ngIf="error">
        ISBN is Invalid, Please Try Again.
    </div>

    <div class="book" *ngFor="let book of books">
        <div class="coverimg">
            <img [src]="book.volumeInfo.imageLinks?.smallThumbnail" onerror="this.src='assets/andela-book.png'" width="50%" />
        </div>
        <div class="rightbox">
            <p class="Title"><a>Title :</a> {{ book.volumeInfo.title }}</p>
            <div>
                <div>Authors:</div>
                <ul>
                    <li *ngFor="let author of book.volumeInfo.authors">
                        {{ author }}
                    </li>
                </ul>
            </div>
            <p>
                Publisher: {{ book.volumeInfo.publisher }}
            </p>
            <p>
                Published Date: {{ book.volumeInfo.publishedDate }}
            </p>
            <p>
                No of Pages: {{ book.volumeInfo.pageCount }}
            </p>
            <div>
                <div>Categories:</div>
                <ul>
                    <li *ngFor="let cat of book.volumeInfo.categories">
                        {{ cat }}
                    </li>
                </ul>
            </div>

            <div class="desc borbom">
                <div>Description :</div>
                {{ book.volumeInfo.description }}
            </div>
            <p>
                <a [href]="book.volumeInfo.infoLink" target="_blank"><button class="link-book">Link to Book</button></a>
            </p>
        </div>
    </div>
</div>